.home-page-container {
    height: 95vh;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-gap: .5rem;

}

.inputdate-container {
    height: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.device-details {
    height: 5vh;
    display: grid;
    grid-template-columns: 1fr;
    
}

.small-details {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.tripdetail-container {
    height: 85vh;
    overflow: scroll;
}